/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Inter:wght@100;600&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600&family=Quattrocento:wght@400;700&display=swap");

/* font-family: 'Alegreya', serif;
font-family: 'Inter', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Quattrocento', serif; */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    background: var(--clr-white);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
button Styles
===============
*/
.video-container {
  width: 100%;

  /* border: 2px solid blue; */
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.video-container video {
  background-position: center;
  background-size: cover;
  z-index: 1;
  width: 100%;
}
.video-container .btn-container {
  align-items: center;
  position: absolute;
  top: 3%;
  right: 3%;
}
.btn-play {
  font-size: 1.5rem;
  background: transparent;
  visibility: visible;
  border: none;
  color: #fff;
}
.description {
  width: max-content;
  height: max-content;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  top: 6%;
  left: 6%;
  padding: 0.5rem;
  /* z-index: 1; */
}

.description .brand-type {
  color: var(--clr-white);
  font-size: 1rem;
  margin: 0;
}
.description .chasephrase {
  margin: 0rem;
  color: var(--clr-white);
}
.maybach-Description {
  width: 15rem;
  height: max-content;

  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  top: 6%;
  left: 6%;
}
.maybach-brand-type {
  color: var(--clr-white);
  font-size: 1rem;
  margin: 0;
}
.maybach-chasephrase {
  margin: 0rem;
  color: var(--clr-white);
}
.more-info-container {
  width: 25%;
  display: flex;

  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 0.65rem;
  position: absolute;
  bottom: 10%;
  right: 38%;
  border: 2px solid var(--clr-white);
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1;
  height: 8%;
}
.more-info-container .more-info {
  /* height: 1.4rem; */
  display: flex;
  color: var(--clr-white);
  /* border: 2px solid green; */
  padding: 0 0.3rem 0 0.3rem;
  margin: 0 0.3rem 0 0.3rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 0.65rem;
}
.more-info-container .nav-arrow {
  display: flex;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  display: none;
  font-size: 0.9rem;
}
.more-info-container:hover {
  background: rgb(221, 221, 221);
  padding: 0 0rem 0 0.1rem;
  transition: all 0.3s linear;
}
.more-info-container:hover .more-info {
  transition: all 0.3s linear;
}

@media screen and (min-width: 768px) {
  .btn-play {
    font-size: 3rem;
    background: transparent;
    visibility: visible;
    color: #fff;
  }
  .description .brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .description .chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .maybach-Description {
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    top: 6%;
    left: 6%;
  }
  .maybach-brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .maybach-chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .more-info-container {
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: 2px solid white;
    font-size: 1rem;
    bottom: 7%;
    right: 42%;
    height: 8%;
  }
  .more-info-container .more-info {
    /* height: 2.1rem; */
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    color: var(--clr-white);
    padding: 0 0.3rem 0 0.3rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .more-info-container .nav-arrow {
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--clr-white);
    display: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .more-info-container:hover {
    background: rgb(221, 221, 221);
    padding: 0 0rem 0 0.3rem;
    transition: all 0.3s linear;
  }
  .more-info-container:hover .more-info {
    transition: all 0.3s linear;
  }
  .more-info-container:hover .nav-arrow {
    display: flex;

    transition: all 0.3s linear;
  }
}
@media screen and (min-width: 820px) {
  .btn-play {
    font-size: 3rem;
    background: transparent;
    visibility: visible;
    color: #fff;
  }
  .description .brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .description .chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .maybach-Description {
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    top: 6%;
    left: 6%;
  }
  .maybach-brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .maybach-chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .more-info-container {
    width: 19%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 1rem;
    bottom: 7%;
    right: 42%;
    height: 10%;
    height: 8%;
  }
  .more-info-container .more-info {
    font-size: 1rem;
    display: flex;
    color: var(--clr-white);
    padding: 0 0.3rem 0 0.3rem;
    margin: 0 0.4rem 0 0.4rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .more-info-container .nav-arrow {
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--clr-white);
    display: none;
    font-size: 1rem;
  }
  .more-info-container:hover {
    background: rgb(221, 221, 221);
    padding: 0 0rem 0 0.3rem;
    transition: all 0.3s linear;
  }
  .more-info-container:hover .more-info {
    transition: all 0.3s linear;
  }
  .more-info-container:hover .nav-arrow {
    display: flex;

    transition: all 0.3s linear;
  }
}
@media screen and (min-width: 1024px) {
  .btn-play {
    font-size: 3rem;
    background: transparent;
    visibility: visible;
    color: #fff;
  }
  .description .brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .description .chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .maybach-Description {
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    top: 6%;
    left: 6%;
  }
  .maybach-brand-type {
    color: var(--clr-white);
    font-size: 2rem;
    margin: 0;
  }
  .maybach-chasephrase {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--clr-white);
  }
  .more-info-container {
    width: 14%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 1rem;
    bottom: 7%;
    right: 45%;
    height: 10%;
    height: 6%;
  }
  .more-info-container .more-info {
    font-size: 1rem;
    display: flex;
    color: var(--clr-white);
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.4rem 0 0.4rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .more-info-container .nav-arrow {
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--clr-white);
    display: none;
    font-size: 1rem;
  }
  .more-info-container:hover {
    background: rgb(221, 221, 221);
    padding: 0 0rem 0 0.3rem;
    transition: all 0.3s linear;
  }
  .more-info-container:hover .more-info {
    transition: all 0.3s linear;
  }
  .more-info-container:hover .nav-arrow {
    display: flex;

    transition: all 0.3s linear;
  }
}
