/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.7s ease-in-out;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Inter:wght@100;600&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600&family=Quattrocento:wght@400;700&display=swap");

/* font-family: 'Alegreya', serif;
font-family: 'Inter', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Quattrocento', serif; */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Logo Styles
===============
*/

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  background: none;
  padding: 0rem;
  flex: 0;
  order: 0;
  flex-grow: 0;
}
.logo {
  min-width: 3.75rem;
  min-height: 3.125rem;
  position: relative;
  align-self: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo .firstCircle {
  min-height: 2.1875rem;
  min-width: 2.1875rem;
  left: 2.867px;
  top: 10.5px;
  border-radius: 0px;
  position: absolute;
  left: 4.5%;
  top: 15.06%;
  bottom: 20.1%;
  border-radius: 50%;
  background: #68dbff;
}
.logo .secondCircle {
  min-height: 2.1875rem;
  min-width: 2.1875rem;
  left: 12.57421875px;
  top: 10.5px;
  border-radius: 0px;
  mix-blend-mode: multiply;
  position: absolute;
  left: 35.3%;
  top: 15.06%;
  bottom: 20.1%;
  border-radius: 47%;

  background: #ff7917;
}
.TextContainer {
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: #000000;
  background: none;
  flex: 0;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 641px) {
  .TextContainer {
    font-size: 1.7rem;
  }
}

/*
===================== 
WebView scrollbar Styles
=====================
*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f5f3f3;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cbcbcb;
}

/*
===================== 
WebView Navigation Styles
=====================
*/

header {
  width: 100%;
  min-height: 5.275rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
  margin-bottom: 0.1rem;
}
.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 5.275rem;
  top: 0px;
  z-index: 2;
  /* DS Shades/White */
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.NavContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
  left: 133px;
  top: 30px;
  width: 95%;
  height: 100%;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.NavContainer > .navLogo {
  display: flex;
}

.navLinkContainer {
  display: none;
}
.navLink {
  text-decoration: none;
  color: #000000;
  margin: 0;
}
@media screen and (min-width: 912px) {
  .navLinkContainer {
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5rem;
    max-height: 58px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .navLink {
    padding: 1.875rem;
  }
  .navLinkContainer .navLink:hover {
    color: #ff7917;
    transition: all 0.3s ease-in-out;
  }
  .signIn-btn {
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #68dbff;
    border-radius: 0.31rem;
  }
  .signIn-btn > .navLink {
    color: white;
  }
  .search-btn {
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: white;
    border: none;
  }
}

/*
===================== 
 Navigation Styles
=====================
*/
.toggle-Menubar {
  font-size: 2rem;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin: auto 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}
/* Webview */
@media screen and (min-width: 912px) {
  .toggle-Menubar {
    display: none;
  }
}
/* SUBMENU */

.subMenuContainer {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 41.6rem;
  z-index: 99;
  left: 0px;
  top: 5.34rem;
  transform: translateY(-85rem);
  transition: all 0.8s ease;
  background: rgba(250, 250, 250, 0.6);
  overflow-y: auto;
  /* Shadow/small */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px -1px rgba(16, 24, 40, 0.1);
}

@media screen and (min-width: 912px) {
  .subMenuContainer.active {
    visibility: visible;
    transform: translateY(0);
  }
  .subMenu {
    width: 100%;
    height: 41.6rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: scroll;
  }
  .subMenu::-webkit-scrollbar {
    display: none;
  }

  .brandContainer {
    background: rgba(250, 250, 250, 0.6);
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px -1px rgba(16, 24, 40, 0.1);
    width: 100%;
    height: max-content;
  }
  .brand-image-container {
    padding: 0.625rem 0;
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.1);
    filter: drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1));
  }
  .brand-name {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    align-items: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.3rem;
  }
  .brand-image {
    display: flex;
    flex-direction: column;
    padding: 1px;
    margin-left: 1.8rem;
    margin-bottom: 1rem;
    width: 16rem;
    height: 11rem;
  }
  .brand-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .brand-image p {
    margin: 0 auto;
    color: #000000;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .brand-image-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*
===================== 
 MOBILE MENU
=====================
*/
.slideMenu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;

  z-index: 999;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.slideMenu-wrapper.show {
  visibility: visible;
  z-index: 990;
  transform: scale(1);
}
@media screen and (min-width: 912px) {
  .slideMenu-wrapper {
    display: none;
    visibility: hidden;
  }
}
.slideMenu {
  width: 95vw;
  height: 95vh;
  margin: 0;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 0.5rem 0.5rem;
  overflow-y: auto;
}
.closeBtn-Container {
  width: 100%;
  display: flex;
  top: 0%;
  margin-bottom: 1rem;
}
.closeBtn {
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
.mobile-nav {
  width: 100%;
}
.Mobile-navLinkContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Mobile-navlink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #000000;
  border: 1px solid rgb(208, 208, 208);
  border-left: none;
  border-right: none;
}

.submenu-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Mobile SUBMENU */

.mobile-submenu {
  /* visibility: visible; */
  width: 100%;
  display: none;
  flex-direction: column;
  background: rgba(247, 247, 247, 0.6);
  height: 0;
  animation: moving 0.5s ease-in-out;
  overflow: hidden;
}
@keyframes moving {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mobile-submenu.active {
  height: max-content;
  display: flex;
  flex-direction: column;
}
.mobile-submenu-brands {
  width: 100%;
  height: max-content;
}
.mobile-submenu-brands h3 {
  color: #000000;
}
.submenu-brand-images-wrapper {
  padding: 0.625rem 0;
  max-width: 100%;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.1);
  filter: drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1));
}
@media screen and (min-width: 768px) {
  .submenu-brand-images-wrapper {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .submenu-brand-images {
    margin-left: 1.8rem;
  }
}
.submenu-brand-images {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-left: 0.6rem;
  margin-bottom: 1rem;
  width: 10rem;
  height: 7rem;
}
.submenu-brand-images img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.submenu-brand-images p {
  margin: 0 auto;
  color: #000000;
}
.submenu-dropdown {
  border: none;
  background-color: transparent;
}
