*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/*
=============== 
Hero Styles
===============
*/
.main-container{
  width:100% ;
  height: 100%;
}
.Fixed-Hero-Container {
  width: 100%;
  height: 20.875rem;
  /* height: 59.875rem; */
  position: relative;
}
@media screen and (min-width: 768px) {
  .Fixed-Hero-Container {
    width: 100%;
    height: 39.875rem;
    /* height: 59.875rem; */
    /* position: relative; */
  }
}
@media screen and (min-width: 912px) {
  .Fixed-Hero-Container {
    width: 100%;
    height: 45.875rem;
  }
}
.Fixed-Hero-Image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Fixed-Hero-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Showroom-Section {
  width: 100%;
  height: 60rem;
  margin: 3rem 0 0rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  background-color: whitesmoke;
}
.Showroom-Header p {
  padding: 1rem 0 0 0;
  color: black;
}
.Nav-Tab-Cont {
  width: 100%;
  position: relative;
}
.Nav-Tab-Cont .Nav-Tab {
  background: transparent;
  border-color: transparent;
  width: max-content;
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .Nav-Tab-Cont .Nav-Tab {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.Nav-Tab:hover {
  color: #ff7917;
  box-shadow: 0 0.125rem #ff7917;
}
.active-tab {
  color: #ff7917;
  box-shadow: 0 0.125rem #ff7917;
}

.Active-Cat-cont {
  width: 100%;
  height: 3.875rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .Active-Cat-cont {
    width: 100%;
    height: 4.875rem;
    margin-bottom: 0.2rem;
  }
}
.Cat-Tab-Slide {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity all 0.8s ease-in-out;
}
.active {
  visibility: visible;
  opacity: 1;
}
.Category-Container {
  display: flex;
  padding: 0px;
  margin-bottom: 0.5rem;
  width: 10rem;
  height: 100%;
  cursor: pointer;
}
.Category {
  width: 100%;
  height: 100%;
}
.Category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Image-Cat-Cont {
  width: 100%;
  height: 30rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .Image-Cat-Cont {
    width: 100%;
    height: 45rem;
    position: relative;

  }
}
.Active-Cat-Image {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.active {
  visibility: visible;
  opacity: 1;
}
.Images-Container {
  width: 100%;
  height: 100%;
  position: relative;
  position: relative;
}
.Images {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.active {
  visibility: visible;
  opacity: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.Images-Details {
  display: block;
  width: 13rem;
  height: max-content;
  position: relative;
  bottom: 100%;
  left: 2%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .Images-Details {
    width: 14rem;
  }
  .Images-Description {
    width: 100%;
    padding: 0.5rem;
  }
  .Images-Description p {
    font-size: 1rem;
  }
  .Images-Description h2 {
    font-size: 2.2rem;
  }
  .Explore-Images p {
    font-size: 1rem;
  }
  .Explore-Btn {
    width: 10rem;
    height: 2.6rem;
  }
}
@media screen and (min-width: 912px) {
  .Images-Details {
    width: 14rem;
  }
}
.Images-Description {
  width: 100%;
  padding: 0.5rem;
}
.Images-Description p {
  width: max-content;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-align: start;
  margin: 0;
}
.Images-Description h2 {
  color: #fff;
  width: max-content;
  height: 3rem;
  font-size: 1.7rem;
  border-bottom: 5px solid white;
  margin: 0;
}
.Explore-Images {
  display: block;
  text-align: start;
  padding: 0.5rem;
}
.Explore-Images p {
  color: #fff;
  font-size: 0.7rem;
  margin: 0;
}
.Explore-Btn {
  width: 7rem;
  height: 2.2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.Explore-Btn:hover {
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}
